*.*

# exept
!.gitignore

# SprintLayout6 layouts
!*.lay6

# LTSpice schemes
!*.asc

# KiCAD libs
!kicad/lib/

#KiCAD files
!*.sch
!*.lib
!*.pro
!*.brd

# SprintLayout 6 Makros
!*.LMK

# ignore backups
*backup*.lay6
kicad/lib/*.bak
kicad/lib/*.bсk
