*.*


!.gitignore

# SprintLayout6 layouts
!*.lay6

# LTSpice schemes
!*.asc

# Schemes images
!*.png
!*.jpg

# KiCAD libs
!kicad/lib/
!/kicad/lib.pretty/

#KiCAD files
!*.sch
!*.lib
!*.pro
!*.brd
!*.kicad_pcb
!*.net
!*.cmp
!*.kicad_mod
!*.kicad_wks

#ignore additional programs
programs/

# SprintLayout 6 Makros
!*.lmk
!*.LMK

# ignore backups
*backup*.lay6

kicad/lib/*.bak
kicad/lib/*.bсk
